VITE_SUPABASE_URL=https://kkvxvugnmxaremjgigrd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtrdnh2dWdubXhhcmVtamdpZ3JkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE5NzU0MjIsImV4cCI6MjA1NzU1MTQyMn0.AyrMg8XjR7_-0GwtVqkcwH-QwzL193U5CEvaorQff5I